<!DOCTYPE html>
<html>
{% include post-head.html %}

<body>

  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}"> {% include header.html %}
  <header style="height:100px" class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}"
    data-theme="{{ site.theme-color }}">
    <div class="post-wrapper">
      <h1>{{ page.title }}</h1>
    </div>
  </header>


  <div class="post-content visible">
    <article class="markdown-body">
      {{ content }}
    </article>
  </div>

  {% include footer.html %}


  <script src="/assets/js/prism.js"></script>
  <script src="/assets/js/index.min.js"></script>
</body>

</html>